<h1>Imageboss#index</h1>
<p>Find me in app/views/imageboss/index.html.erb</p>

<%= image_path('full-boss')%> <br />
<%= image_url('full-boss')%>  <br />
<%= imageboss_tag('full-boss', :cover, { width: 100, height: 100 }) %> <br />
<%= imageboss_url('full-boss', :cover, { width: 100, height: 100 }) %> <br />

<div id="imageboss-banner">

</div>
